@import '../../../styles.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
    background-color: white;
    border-bottom: $GreyLight-2;
    .img {
        width: 50px;
    }
    .link-group {
        display: flex;
    }
    .searchbar {
        border: 1px solid $GreyLight-3;
        border-radius: 90px;
        display: flex;
        background-color: $GreyLight-2;
        input {

            padding: 7px;
            border: none;
            background-color: transparent;
            outline: none;
        }
        input, input::placeholder {
            color: $GreyDark-3;
        }

  
    }
}